<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.toyonos.hfr4droid.donate"
	android:versionCode="071"
	android:versionName="0.7.1"
	android:installLocation="auto">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="10" />
	<supports-screens android:smallScreens="true" android:largeScreens="true" android:anyDensity="true"/>

	<application android:icon="@drawable/icon" android:label="@string/app_name" android:name="info.toyonos.hfr4droid.donate.HFR4droidApplication" android:hardwareAccelerated="true" android:debuggable="true">
		<activity android:name="info.toyonos.hfr4droid.donate.activity.SplashActivity" android:configChanges="keyboard|keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="info.toyonos.hfr4droid.donate.activity.CategoriesActivity" android:configChanges="keyboard|keyboardHidden|orientation" />
		    
		<activity android:name="info.toyonos.hfr4droid.common.activity.TopicsActivity" android:configChanges="keyboard|keyboardHidden|orientation" />

		<activity android:name="info.toyonos.hfr4droid.donate.activity.PostsActivity" android:configChanges="keyboard|keyboardHidden|orientation" />
		
		<activity android:name="info.toyonos.hfr4droid.common.activity.PostsSearchActivity" android:configChanges="keyboard|keyboardHidden|orientation" android:windowSoftInputMode="stateHidden" />

		<activity android:name="info.toyonos.hfr4droid.common.activity.HFR4droidDispatcher" android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:host="forum.hardware.fr" android:scheme="http" />
			</intent-filter>
		</activity>

		<activity android:name="info.toyonos.hfr4droid.common.activity.NewTopicActivity" android:configChanges="keyboard|keyboardHidden|orientation" android:windowSoftInputMode="adjustPan">
			<intent-filter android:label="@string/send_mp">
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
				<data android:mimeType="image/*" />
			</intent-filter>
		</activity>

		<activity android:name="info.toyonos.hfr4droid.common.activity.NewPostActivity" android:configChanges="keyboard|keyboardHidden|orientation" android:windowSoftInputMode="adjustPan" />

		<activity android:name="info.toyonos.hfr4droid.common.activity.HFR4droidPrefs"/>
		
		<activity android:name="info.toyonos.hfr4droid.common.activity.ImagePicker" android:icon="@drawable/hfrrehostnet" android:theme="@android:style/Theme.Translucent.NoTitleBar">
			<intent-filter android:label="@string/upload_hfr_rehost">
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="image/*" />
			</intent-filter>
		</activity>

		<service android:name="info.toyonos.hfr4droid.common.service.MpNotifyService" />
		<service android:name="info.toyonos.hfr4droid.common.service.MpCheckService" />
		<service android:name="info.toyonos.hfr4droid.common.service.MpTimerCheckService" />
	</application>
</manifest>